body{
    height: 200%;
    /* width: 100%; */
    background-color: black !important;
}

.my-col img {
    width: 100%;
}


#openingFoto>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#closingFoto>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#openingFoto{
    position: relative;
    top: 0%;
    width: auto;
    height: 50%;
    z-index: 0;
}

#navButtons{
    position: absolute;
    display: flex;
    top: 65%;
    width: 100%;
    opacity: 0;
    align-content: center;
    justify-content: center;
}

.navButtonsInner{
    position: relative;
    padding: 5px;
    color: white;
    font-size: 25px;
    border: white 1px solid;
    border-radius: 60px;
    text-align: center;
}

.navButtonsOuter{
    position: relative;
    padding: 5px;
    margin-left: 50px;
    float: left;
    border: white 3px solid;
    border-radius: 70px;
    cursor: pointer;
}

#openingFotoTitle{
    position: absolute;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    color: white;
    font-size: 90;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    opacity: 0;
}

.my-container{
    z-index: 5;
}

.my-row{
    margin-bottom: -24px;
}

.my-col{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: white;
}

@media screen and (max-width: 600px) {
    div.my-col {
      font-size: 100px;
    }
  }
  

.textTop{
    text-align: center;
    margin-top: 100px;
}

.textBottom{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;

}

.my-col>img{
    width: 100%;
    object-fit: cover;
    
}

#closingFoto{
    position: relative;
    width: auto;
    height: 50%;
    z-index: 0;
}

#registerButton{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 5px;
    font-size: 100px;
    color: white;
    border: 3px white solid;
    border-radius: 90px;
}

.centerAlign{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px black solid
}

#buttonOuter{
    position: absolute;
    padding: 8px;
    top: 40%;
    height: auto;
    width: auto;
    border: 8px white solid;
    border-radius: 100px;
    cursor: pointer;
}

