body{
    height: 200%;
    margin: 0%;
    width: 100%;
    background-color: black;

}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#openingFoto{
    position: relative;
    top: 0%;
    width: auto;
    height: 50%;
    z-index: 0;
}

#navButtons{
    position: absolute;
    display: flex;
    top: 65%;
    width: 100%;
    opacity: 0;
    align-content: center;
    justify-content: center;
}

.navButtonsInner{
    position: relative;
    padding: 5px;
    color: white;
    font-size: 25px;
    border: white 1px solid;
    border-radius: 60px;
}

.navButtonsOuter{
    position: relative;
    padding: 5px;
    margin-left: 50px;
    float: left;
    border: white 3px solid;
    border-radius: 70px;
    cursor: pointer;
}

#openingFotoTitle{
    position: absolute;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    color: white;
    font-size: 90;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    opacity: 0;
}


.textTop{
    position: absolute;
    height: auto;
    width: auto;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 30;
    top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textBottom{
    position: absolute;
    height: auto;
    width: auto;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 30;
    bottom: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}






/* flexbox 1 */
#flexbox1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    margin-top: 1%;
}

#img0{
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
    flex: 50%;

}

#text0{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    background-color: white;
    flex: 50%;
    overflow-y: scroll;
}

/* flexbox 2 */
#flexbox2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    margin-top: 1%;
}

#img1{
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
    flex: 50%;

}

#text1{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    background-color: white;
    flex: 50%;
}

/* flexbox 3 */
#flexbox3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    margin-top: 1%;
}

#img2{
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
    flex: 50%;

}

#text2{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    background-color: white;
    flex: 50%;
}

#closingFoto{
    position: relative;
    width: auto;
    margin-top: 1%;
    height: 50%;
    z-index: 0;
}

#registerButton{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-top: 5px;
    font-size: 100px;
    color: white;
    border: 3px white solid;
    border-radius: 60px;
}

.centerAlign{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px black solid
}

#buttonOuter{
    position: absolute;
    padding: 8px;
    top: 40%;
    height: auto;
    width: auto;
    border: 8px white solid;
    border-radius: 70px;
    cursor: pointer;
}

